{% include "content/_form.html.twig" with { form, button_label: "common.create"|trans, notificationEmailDisabled: false, editing: false } only %}

<div class="flex w-full items-center justify-center gap-6">
    {{ component("button", { content: "common.back_to_list"|trans, class: "!bg-purple-500 hover:!bg-purple-500/80 transition-all", variant: "info", centered: false, ghost: true, href: path("content") }) }}
</div>
