{% extends "layout.html.twig" %}

{% block main_body %}
    <turbo-frame id="table_crud" class="flex flex-col gap-4" data-turbo-action="advance">
        <h1 class="text-center text-4xl">
            {{ "page.content.title"|trans }}
        </h1>

        <div class="flex min-h-[28.5rem] gap-2 flex-col md:flex-row">
            {{ component('table', { config }) }}
            {{ component(
                "button",
                {
                    icon: "add-circle",
                    square: true,
                    href: path("content_new"),
                    ariaLabel: ("icon.add_circle")|trans,
                     "data-turbo-frame": "_top",
                    centered: false
                })
            }}
        </div>

        <div class="flex items-center justify-center">
            {{ knp_pagination_render(config.pagination, 'knp_custom/paginator.html.twig') }}
        </div>
    </turbo-frame>
{% endblock %}