{% trans_default_domain "admin" %}

{{ form_start(form, { attr: { id: 'category-admin-form' } }) }}
    <div class="flex flex-col gap-4 md:flex-row">
        <div class="grow basis-0">
            {{ form_row(form.name) }}
        </div>
    </div>
    {{ component("button", { content: button_label|default("common.save"|trans), submit: true, class: "btn-outline", variant: "success", centered: true, ghost: true }) }}
{{ form_end(form) }}
