<form id="content-send-notification-email-form" method="post" action="{{ path("admin_content_send_notification", { id: content.id.toBase32 }) }}">
    <input type="hidden" name="_token" value="{{ csrf_token("publish-" ~ content.id.toBase32) }}" />
</form>
