{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.content_new.title"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.content_new.title"|trans }}
{% endblock %}

{% block main_body %}
    <div id="content-admin-form" class="flex flex-col gap-4 items-center mx-auto">
        {% include "admin/content/_new_content.html.twig" %}
    </div>
{% endblock %}
