<div
    id="profile-{{ app.user.profile.id }}-unread-icon"
    class="inline-flex items-center justify-center w-3 h-3 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full dark:border-gray-900"
></div>
